
div
    input(type='text' class='input-field input-field__search-bookshelf' id='search-bookshelf' placehoder="Search this bookshelf")

form(method='post' action='/user' class='add-bookshelf-form')
    input(type="hidden" name="_csrf" value=csrf)
    input(type='text' class='input-field input-field__add-bookshelf hidden' id='add-new-bookshelf__input-field' name='newBookName')
    button(type='button' class='button-light' id='add-new-bookshelf__button') add new bookshelf

ul.bookshelf-list
