
//- div
//-     input(type='text' class='input-field input-field__search-bookshelf' id='search-bookshelf' placehoder="Search this bookshelf")

form(class='add-bookshelf-form')
    input(type="hidden" name="_csrf" value=csrf)
    input(type='text' class='input-field input-field__add-bookshelf hidden' id='add-new-bookshelf__input-field' name='newBookshelfName')
    input(type="submit" value="" style='display: none')
    button(type='button' class='button-light buttonButton' id='add-new-bookshelf__button') add shelf


ul.bookshelf-list
