append head

.nav__header
  nav(class="navbar")
    div.navbar__text-logo-div
      a(class="navbar__text-logo" href="/user/shelves") <b>bad</b>reads

    form(action="/books" method="GET" class='navbar__search')
      input(type="search" name="term" placeholder="Search By Title/Author" class="input-field navbar__search-field")
      button(type="submit" class="button-dark") discover
    button(type='button' class='navbar__logo__button'): a( href="/user/profile" class="profile-link"): img(src='../../images/logo.jpg' class='navbar__logo__button__img')
  .overlay__container
    .overlay.overlay-hidden
