.header {
    position: fixed;
    width: 100%;
}

.nav-bar-content {
    display: inline;
}

.navbar {
    background-color: rgba(156, 172, 183, 100);
    display: grid;
    grid-template-columns: 2fr 4fr  60px;
    align-items:  center;
    box-shadow: 2px 2px 10px #5f6f7936;
    padding: 15px;
}

.navbar__logo__button {
    border: none;
    background: none;
    border: none;
    outline:none;
}

input[type="button"], img {
    border: none;
    outline:none;
}

.navbar__logo__button__img {
    height: 60px;
    border-radius: 50%;
    opacity: .8;
    border: none;
    outline:none;
}

* {
    outline: none;
}

.navbar__logo__button__img:hover {
    opacity: 1;
    border: none;
    outline:none;
}

.navbar__text-logo {
    color: whitesmoke;
    font-weight: 100;
    font-size: 40px;
}

.navbar__text-logo-div {
    grid-column-start: 1;
    width: fit-content;
    padding: 0px 10px;
}

.navbar__text-logo-div:hover {
    background-color: #a0b3bd;
    border-radius: 20px;
    box-shadow: 0 0 40px #a0b2bd;
}

.navbar__text-logo:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 10px #8f9ca3;
}

.navbar__search {
    float: right;
    justify-self: end;
    margin-right: 40px;
    letter-spacing: 3px;
}

.overlay__container {
    height: 50px;
}

.overlay{
    background-color: rgb(183 204 192 / 67%);
    width: 100%;
    padding-left: 50px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding-top: 14px;
    height: 50px;
    opacity: 1;
    transition: opacity 2s linear;
}

.overlay-shown {
    visibility: visible;
    opacity: 1;
    transition: opacity .1s linear;
}

.overlay-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .1s, opacity .1s linear;
}

.navbar__search-field {
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    height: 40px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 6 rgba(156, 172, 183, 100)
}

.dropdown {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    justify-self:flex-end;
    margin-right: 20px;
}

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content__con {
    display: none;
    position: absolute;
    margin-top: 60px;
    min-width: 120px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
  }

  .dropdown-content {
    color: rgb(159, 159, 159);
    text-transform: lowercase;
    letter-spacing: 1.5px;
    font-weight: 400;
    background-color: white;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown-content__con {
      display: none;
      padding: 10px;
  }

  .dropdown:hover .dropdown-content__con{
      display: block;
  }

  .dropdown-content:hover {
      display: block;
  }

  /* Links inside the dropdown */
.dropdown-item{
    color: rgb(89, 89, 89);
    padding: 5px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
  dropdown-item:hover {
        background-color: #ddd;
        border-radius: 5px;
        cursor: pointer;
    }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

@media screen and (max-width: 800px) {
    .navbar {
        width: 950px;
    }
}
