.nav-bar-content {
    display: inline;
}

.navbar {
    background-color: rgba(156, 172, 183, 100);
    display: grid;
    grid-template-columns: 2fr 4fr  40px;
}

.navbar__text-logo {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 100
}

.navbar__search {
    float: right;
    justify-self: end;
    margin-right: 40px;
    letter-spacing: 3px;
}

.navbar__search-field {
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    width: 300px;
    box-shadow: 0 0 6 rgba(156, 172, 183, 100)
}

@media screen and (max-width: 800px) {
    .navbar {
        width: 950px;
    }
}
