extends layout.pug

block content
    include includes/nav.pug
    div(class='book-container')
        div(class='container_book-info ')
            h2(class='container_book-info_title')
            h3(class='container_book-info_author')
            //- buton(class='btn btn-danger')
            form(class='drop-down-form' name='form') 
                select(name='dropdownFormSelect' class='drop-down-form__select')
                    option(selected) Add to Bookshelf
                button(type='submit' class='drop-down-form__button') submit

            h5(class='container_book-info_description')

        div(class='container_book-image')
            if book.id < 5
                img(class='container_book-image_src' src=`../images/${book.id}.jpg` alt="bookshelf")
            else
                img(class='container_book-image_src' src="../images/no_image_book.jpg" alt="bookshelf")
        div(class='container_genres')
            h5 Genres
            each genre in book.Genres
                a(class='container_genres_links') #{genre.name}
        div(class='container_reviews-title')
            h4 Reviews
            div
                form(class='container_form')
                    input(class='container_reviews_input' type="text", name="reviews" placeholder="***write a review***")
                    input(type="submit" value="" style='display: none')
        each review in book.Reviews
            div(class='container_reviews')
                div(class='container_reviews_star-container')
                    img(class='container_reviews_star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
                    img(class='container_reviews_star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
                    img(class='container_reviews_star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
                    img(class='container_reviews_star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
                    img(class='container_reviews_star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
                div(class='container_reviews_text-container')
                    p(class='container_reviews_text') #{review.description}
                div(class='container_reviews_readmore-container')
                    a(class='container_reviews_readmore' href="#") readmore
    script(type='module' src='../js/book-show.js')
