doctype html
html
  head
    title Badreads
    link(rel="stylesheet" href="../css/reset.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="../css/style.css")
  body

  h1=title
    block content
