doctype html
html
  head
    link(rel="stylesheet", href="../css/bookshelf-list.css")
    link(rel="stylesheet", href="../css/my-books-layout.css")
    link(rel="stylesheet", href="../css/bookshelf-books.css")
    title Badreads

  body
    block content
