extends layout.pug

block content
    .wrapper
        .side-bar
            include includes/bookshelf-list.pug
        .bookshelf-title
        .bookshelf-books
            include includes/bookshelf-book-list.pug
        .bookshelf-books__book-header
            div.bookshelf-books__book-title
            div.bookshelf-books__book-author
        .bookshelf-books__book-description
    script(src="../js/my-books/my-books-index.js" type="module")
