extends layout.pug


block content
    include includes/nav.pug
    .wrapper
        .side-bar
            include includes/bookshelf-list.pug
        h1.bookshelf-title
        .bookshelf-books.my-custom-scrollbar.my-custom-scrollbar-primary
            .welcome-header
                h1#welcome
                h2.quote “A room without books is like a body without a soul.”
                h3.quote-author ― Marcus Tullius Cicero
            include includes/bookshelf-book-list.pug
        .bookshelf-books__book-header
            h3.bookshelf-books__book-title
            h4.bookshelf-books__book-author
            form(class='drop-down-form hidden' name='form')
                select(name='dropdownFormSelect' class='drop-down-form__select')
                button(type='submit' class='drop-down-form__button') submit

        .bookshelf-books__book-description
    script(src="../js/my-books/my-books-index.js" type="module")
