extends layout.pug


block content

    include ./includes/nav.pug

    div(class='container_profile')
      div(class='user-image__container book-cover')
        img(class='user-image' src=`../images/user-image.png` alt="bookshelf")

      div(class='container_user-info')
        h2(class='user-info__name')
        h4(class='user-info__email')
        h3(class='user-info__address') 100 appacademy way, New York, NY

        p(class='user-info_rating-review')

      div(class='container_add-button')
        button.button-light.add-button(type='button'): a(href="/register") Add Genre

      div(class='container_favorite-genres')
        div(class='favorite-genres')
          userGenres

    script(type='module' src='../js/user-profile.js')
