extends layout.pug

block content

  .container
    h2 Pick your favorite genres
    .row
      .form-group
        .items-collection
          .items.col-xs-6.col-sm-3.col-md-3.col-lg-3
            .info-block.block-info.clearfix
              .btn-group.bizmoduleselect(data-toggle='buttons')
                label.btn.btn-secondary
                  .itemcontent
                    input(type='checkbox', name='var_id[]', autocomplete='off', value='')
                    span.fa.fa-car.fa-2x
                    h5 car
          .items.col-xs-6.col-sm-3.col-md-3.col-lg-3
            .info-block.block-info.clearfix
              .btn-group.itemcontent(data-toggle='buttons')
                label.btn.btn-secondary
                  .itemcontent
                    input(type='checkbox', name='var_id[]', autocomplete='off', value='')
                    span.fa.fa-truck.fa-2x
                    h5 truck
          .items.col-xs-6.col-sm-3.col-md-3.col-lg-3
            .info-block.block-info.clearfix
              .btn-group.itemcontent(data-toggle='buttons')
                label.btn.btn-secondary
                  .itemcontent
                    input(type='checkbox', name='var_id[]', autocomplete='off', value='')
                    span.fa.fa-laptop.fa-2x
                    h5 laptop
          .items.col-xs-6.col-sm-3.col-md-3.col-lg-3
            .info-block.block-info.clearfix
              .btn-group.itemcontent(data-toggle='buttons')
                label.btn.btn-secondary
                  .itemcontent
                    input(type='checkbox', name='var_id[]', autocomplete='off', value='')
                    span.fa.fa-cube.fa-2x
                    h5 cube
          .items.col-xs-6.col-sm-3.col-md-3.col-lg-3
            .info-block.block-info.clearfix
              .btn-group.itemcontent(data-toggle='buttons')
                label.btn.btn-secondary
                  .itemcontent
                    input(type='checkbox', name='var_id[]', autocomplete='off', value='')
                    span.fa.fa-lock.fa-2x
                    h5 secure
          .items.col-xs-6.col-sm-3.col-md-3.col-lg-3
            .info-block.block-info.clearfix
              .btn-group.itemcontent(data-toggle='buttons')
                label.btn.btn-secondary
                  .itemcontent
                    input(type='checkbox', name='var_id[]', autocomplete='off', value='')
                    span.fa.fa-barcode.fa-2x
                    h5 barcode
          .items.col-xs-6.col-sm-3.col-md-3.col-lg-3
            .info-block.block-info.clearfix
              .btn-group.itemcontent(data-toggle='buttons')
                label.btn.btn-secondary
                  .itemcontent
                    input(type='checkbox', name='var_id[]', autocomplete='off', value='')
                    span.fa.fa-key.fa-2x
                    h5 key
          .items.col-xs-6.col-sm-3.col-md-3.col-lg-3
            .info-block.block-info.clearfix
              .btn-group.itemcontent(data-toggle='buttons')
                label.btn.btn-secondary
                  .itemcontent
                    input(type='checkbox', name='var_id[]', autocomplete='off', value='')
                    span.fa.fa-keyboard-o.fa-2x
                    h5 keyboard
    .row
      br
      .form-group
        .col-sm-12.col-md-12.col-lg-12
          i.fa.fa-search.fa-2x.float-xs-left.searchicon
          input#search.form-control(type='search', placeholder='Filter items...')
    style.
      #search {
      width:90%;
      }
      .searchicon {
      color:#5CB85C;
      }
      .items-collection{
      margin:20px 0 0 0;
      }
      .items-collection label.btn-default.active{
      background-color:#007ba7;
      color:#FFF;
      }
      .items-collection label.btn-default{
      width:90%;
      border:1px solid #305891;
      margin:5px;
      border-radius: 17px;
      color: #305891;
      }
      .items-collection label .itemcontent{
      width:100%;
      }
      .items-collection .btn-group{
      width:90%
      }
    script.
      $(function () {
      $('#search').on('keyup', function () {
      var pattern = $(this).val();
      $('.items-collection .items').hide();
      $('.items-collection .items').filter(function () {
      return $(this).text().match(new RegExp(pattern, 'i'));
      }).show();
      });
      });
