extends layout.pug

include ./includes/favoriteGenres.pug

block content
  append head
  link(rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.min.css")

  div(class='container genre-container')
    h2(class="genre-container__header") Pick your favorite genres
    div(class="row genre-container__row")
      div(class="form-group genre-container__form-group")
        div(class="genre-container__genre-group")
          for genre in genres
            +genreButton(genre)
  style.
    .genre-container__genre-group {
    margin:20px 0 0 0;
    display: flex;
    justify-content: center;
    }

    .genre-container__header {
        text-align: center;
    }
    .genre-container__genre-group label.btn-default.active{
    background-color:#007ba7;
    color:#FFF;
    }
    .genre-container__genre-group label.btn-default{
    width:90%;
    border:1px solid #305891;
    margin:5px;
    border-radius: 17px;
    color: #305891;
    }
    .genre-container__genre-group label .genre-container__button-content{
    width:100%;
    }
    .genre-container__genre-group .btn-group{
    width:90%
    }
    .genre-container__button-label {
        border-radius: 16px;
        border: 1px;
    }
