extends layout.pug

block content
  div(class="genre-container")
    h2(class="genre-container__header") Pick your favorite genres:
    div(class='genre-buttons')
      for genre in genres
            button( type='button' class='genre-button' id=`${genre.name}`) #{genre.name}
    div(class='genre-submit')
      button(type='submit' class='genre-select-all-button') Select All
      button(type='submit' class='genre-submit-button') Submit
  script(type='module' src='../js/register.js')

