.book-list {
    display: flex;
}
/* .book-on-shelf {
    display: inline-block;
    overflow-y: scroll;
} */

.book-on-shelf {
    padding: 10px;
    height: 150px;
    width: 90px;
    background-color: gray;
    margin: 10px;
}

.book-on-shelf__book-cover {
    background-color: lightskyblue;
    height: 120px;
    width: 80px;
}
