body {
    font-family: "Helvetica Neue";
    background-color: rgba(227,227, 222, .25);
    color: rgb(114, 112, 112)
}

.button-light, .profile-button {
    background-color: rgb(208, 163, 132);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .25);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin: 10px 0px;
}

.button-light:hover{
    box-shadow: 0px 3px 6px 0px rgb(0, 0, 0, .5)
}

.input-field {
    border: 1px solid rgb(112,112,112);
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .25);
    margin-right: 20px;
    padding: 3px;
}

a:link {
  color: #5c5a5a;
}

/* mouse over link */
a:hover, a:hover {
  color: #404040;
}

/* selected link */
a:active {
  color: blue;
}

h3 a{
    color: gray;
    font-size: 26px;
}

a:active {
  color: blue;
}

h4 {
    font-size: 17px;
    font-weight: 200;
}
h5 {
    font-size: 14px;
    font-weight: normal;
    color: rgb(59 75 59);
    font-weight: 320;
    letter-spacing: 1px;
}

.add-to-bookshelf-dropdown {
    color: #576169;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 25%);
    margin-top: 5px;
    font-weight: 200;
    background-color: rgba(255,255,255, .8) ;
    float: left;
    width: 150;
}

.add-to-bookshelf-dropdown__option {
    color: rgba(0,0,0,.70);
    background-color: whitesmoke;
}

.button-dark {
    background-color: rgb(136, 84, 55);
    color: rgb(242, 242, 242);
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .6);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-dark:hover {
    background-color: rgb(181, 129, 100);
}

.book-cover {
    box-shadow: 0px 4px 8px 0px rgb(39 35 35);
}

.drop-down-form {
    display: inline-block;
}
.drop-down-form__button {
    background-color: rgb(208, 163, 132);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .25);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    margin-left: 13px
}

.drop-down-form__select {
    color: #797575;
    border: 1px 1px solid;
    border-color: #cacaca;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .13);
}
