.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 800px;
    grid-template-rows: 150px 200px 100px 500px;
    margin: auto;
}

.side-bar {
    background-color:lavender;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/5;
}

.bookshelf-title {
    background-color: lightblue;
    grid-column: 2;
    grid-row: 1;
}

.bookshelf-books {
    background-color: lightpink;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    overflow-y: scroll;
    position: relative;
}

.bookshelf-books__book-title {
    background-color: lightgoldenrodyellow;
    grid-column: 2;
    grid-row: 3;
}

.bookshelf-books__book-description {
    background-color:lightgrey;
    grid-column: 2;
    grid-row: 4;
}
