.container_profile{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 800px;
  margin: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'picture user-info'
    'add-button favorite-genres';
}


.user-image__container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container_user-info{
  grid-area: user-info;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin: 30px 30px auto;
}

.user-info {
  padding: 10px;
}

.user-info__name {
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.user-info__email {
  margin: auto;
  text-align: center;
}

.user-info__address {
  margin: auto;
  text-align: center;
}
