body {
  font-family: sans-serif;
  /* background-color: lightgrey; */
}

* {
  box-sizing: border-box;
}

/* #booksList {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
} */

.searchTitle {
  width: 800px;
  margin: auto;
}

.booksearch {
display: grid;
width: 800px;
grid-template-columns: 150px 1fr;
grid-template-rows: 150px;
padding: 20px;
margin: auto;
}

.booksearch__author {
  padding-top: 5px;
}

.searchTitle h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.booksearch__title:hover {
  color: #171717d9;
}

.booksearch h3 {
font-size: 20px;
margin-bottom: 0px;
};

.booksearch h4 {
  margin-bottom: 0px;
};

/* .booksearch__block{} */

.booksearch__book-cover {
height: 150px;
}

div .booksearch__container__header{
  display:block;
  height: 65px;
}

.booksearch__container__description{
display:block;
height: 90px;
overflow: hidden;
font-weight: 350;
font-size: 13px;
}

#searchBar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: '🔍';
  position: absolute;
  top: 7px;
  right: 15px;
}
