body {
    font-family: sans-serif;
    /* background-color: lightgrey; */
}

* {
    box-sizing: border-box;
}

h1 {
    color: #eee;
    margin-bottom: 30px;
}

/* #booksList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
} */

.booksearch {
  display: grid;
  width: 800px;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 150px;
  padding: 20px;
  margin: auto;
}

.booksearch h3 {
  font-size: 20px;
};

.booksearch__block{}
.booksearch__container{
  display:block;
  height: 90px;
  overflow: hidden;
}
.booksearch__book-cover {
  height: 150px;
}

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
}
