.bookshelf-list-item {
    padding: 5px;
    cursor: pointer;
}

.bookshelf-list-item:hover {
    text-decoration: none;
    font-weight: 500;
    color: #605f5f;
    font-size: 16px;
}

.bookshelf-list-item--active {
    font-weight: bold;
    color: black;
}
