.book-list {
    display: flex;
}
/* .book-on-shelf {
    display: inline-block;
    overflow-y: scroll;
} */

.book-on-shelf {
    padding: 10px;
    width: 150px;
    margin: 10px;
}

.book-on-shelf__book-cover {
    height: px;
    width: 120px;
    margin: auto;
    /* align-self: center; */
}

.book-on-shelf__book-header {
    margin-left: 30px;
}

.book-on-shelf__book-title {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 20px
}

.book-on-shelf__book-header {
    margin-left: 30px;
    padding-left: 30px;
}

.bookshelf-books__description {
    margin-left: 30px;
    padding-left: 30px;
}
