.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 800px;
    grid-template-rows: 70px 300px 100px 500px;
    margin: auto;
    margin-top: 50px;
}

h1#welcome {
    color: gray;
    margin-bottom: 30px;
}
.side-bar {
    /* background-color:lavender; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/5;
}


.bookshelf-title {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    padding-left: 30px;
    margin-bottom: 20px;
    color: gray;
    /* align-items: baseline; */
}


.bookshelf-books {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    overflow-y: scroll;
    position: relative;
}

.bookshelf-books__book-header {
    margin-left: 30px;
}

.bookshelf-books__book-title a {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    /* margin-left: 30px; */
    grid-column: 2;
    grid-row: 3;
}

.bookshelf-books__book-title a:hover {
    color: #434343;
    text-decoration: none;
}

.bookshelf-books__book-author {
    /* margin-top: 20px; */
    /* margin-left: 30px; */
    grid-column: 2;
    grid-row: 3;
}

.bookshelf-books__book-description {
    /* background-color:lightgrey; */
    grid-column: 2;
    grid-row: 4;
    margin-top: 50px;
    margin-left: 30px;
}


.h2 {
    align-items: center;
    justify-items: center;
}

.welcome-header {
    display: block;
    text-align: center;
    margin-left: 30px;
}

.quote {
    font-weight: 300
}

.quote-author {
    font-weight: 350;
    font-size: 20px;
    text-align: right;
    margin-right: 60px
}


.book-on-shelf__book-title {
    font-size: 14px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        margin-left: 70px;
    }
}
